@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

/*
GENERAL STYLES
 */
body {
    font-family: 'Ropa Sans', sans-serif;
}

h3 {
    font-family: 'Ropa Sans', sans-serif;
}

/*
SLIDE
 */
.slide {
    height: 200px;
    display: inline-block;
}

/*
 ARROW
 */
.arrow {
    display: inline-block;
}
.arrow.left {
    transform: rotate(180deg);
    float: left;
}
.arrow.right {
    float: right;
}